<!-- vim: set ts=4 sw=4 expandtab: -->

<div ng-cloak layout-gt-sm="row" layout="column">
    <div flex>
        <md-toolbar class="demo-toolbar md-primary _md _md-toolbar-transitions">
            <div class="md-toolbar-tools">
                <div>
                    <md-button ng-click="toggleLeft()" hide-gt-md class="md-icon-button">
                        <md-icon md-svg-icon="/img/material.io/menu-24px.svg" aria-label="Apri menu">
                        </md-icon>
                    </md-button>
                </div>
            </div>
        </md-toolbar>

        <md-content layout-padding="20">
            <div class="help">
                Dal menù a sinistra scegli le voci da modificare.
            </div>
            <div class="help">
                Dal pannello <span>Farmacie</span> puoi registrare i dati delle farmacie della zona e indicare la tua.
            </div>
            <div class="help">
                Sul pannello <span>Turni</span> indichi inizio, durata del turno e l'ordine delle farmacie.
            </div>
            <div class="help">
                Il <span>Calendario</span> ti permette di vedere i turni.
            </div>
            <div class="help">
                Dal pannello <span>Presentazione</span> puoi indicare i testi da visualizzare, i tempi di visualizzazione delle immagini, il colore del testo.
            </div>
            <div class="help">
                Nel pannello <span>Documenti</span> carichi le immagini e indichi il periodo durante cui visualizzare.
            </div>
            <div class="help">
                Dall'<span>Anteprima</span> puoi controllare cosa sarà visualizzato sulla bacheca e poi pubblicarlo.
            </div>
        </md-content>
    </div>
</div>