<!-- vim: set ts=4 sw=4 expandtab: -->
<md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4">

    <md-toolbar class="demo-toolbar md-primary _md _md-toolbar-transitions">
        <div class="md-toolbar-tools">
            <div>
                <md-button ng-click="toggleLeft()" hide-gt-md class="md-icon-button">
                    <md-icon md-svg-icon="/img/material.io/close-24px.svg" aria-label="Chiudi menu">
                    </md-icon>
                </md-button>
                <a class="toolbar-label" ng-click="app()">{{toolbarLabel}}</a>
            </div>
        </div>
    </md-toolbar>

    <md-content layout-padding>
        <md-list flex>
            <md-list-item class="md-2-line" ng-click="pharmacies()">
                Farmacie
            </md-list-item>
            <md-list-item class="md-2-line" ng-click="shifts()">
                Turni
            </md-list-item>
            <md-list-item class="md-2-line" ng-click="calendar()">
                Calendario
            </md-list-item>
            <md-list-item class="md-2-line" ng-click="presentation()">
                Presentazione
            </md-list-item>
            <md-list-item class="md-2-line" ng-click="documents()">
                Documenti
            </md-list-item>
            <md-list-item class="md-2-line" ng-click="preview()">
                Anteprima
            </md-list-item>
            <!-- <md-list-item class="md-2-line" ng-click="bomb()">
                Bomb
            </md-list-item> -->
        </md-list>
    </md-content>

</md-sidenav>
