<!-- vim: set ts=4 sw=4 expandtab: -->
<md-toolbar class="demo-toolbar md-primary _md _md-toolbar-transitions">
	<div class="md-toolbar-tools">
		<div>
			<md-button ng-click="toggleLeft()" hide-gt-md class="md-icon-button">
				<md-icon md-svg-icon="img/material.io/menu-24px.svg" aria-label="Apri menu">
				</md-icon>
			</md-button>
            {{toolbarLabel}}
		</div>
    </div>
</md-toolbar>
