<!-- vim: set ts=4 sw=4 expandtab: -->

<div ng-cloak layout-gt-sm="row" layout="column" class="page-content">
    <div flex>
        <md-toolbar class="demo-toolbar md-primary _md _md-toolbar-transitions">
            <div class="md-toolbar-tools" layout="row">
                <div layout="column" layout-align="start">
                    <md-button ng-click="toggleLeft()" hide-gt-md class="md-icon-button">
                        <md-icon md-svg-icon="/img/material.io/menu-24px.svg" aria-label="Apri menu">
                        </md-icon>
                    </md-button>
                </div>
                <div layout="column" flex>
                    Turni
                </div>
            </div>
        </md-toolbar>

        <md-content layout-padding="20">
            <div layout="row">
                <md-whiteframe ng-if="pharmacies.status.message || shift.status.message || calendar.status.message" class="md-whiteframe-10dp error">
                    <div>{{pharmacies.status.message}}</div>
                    <div>{{shift.status.message}}</div>
                    <div>{{calendar.status.message}}</div>
                </md-whiteframe>
            </div>

            <div layout="row" ng-if="!shift.empty">
                <div layout="column" flex="50">
                    <md-input-container>
                        <label>Data inizio turno</label>
                        <md-datepicker ng-model="shift.data.start" ng-change="shift.save(); calendar.load()" aria-label="Inserisci una data"></md-datepicker>
                    </md-input-container>
                </div>

                <div layout="column" flex="50">
                    <md-input-container>
                        <label>Ora</label>
                        <input required type="time" step="any" name="Ora" ng-model="shift.data.start" ng-change="shift.save(); calendar.load()" />
                        <div ng-messages="projectForm.rate.$error" multiple md-auto-hide="true">
                            <div ng-message="required">
                                Indica l'ora di inizio del turno
                            </div>
                        </div>
                    </md-input-container>
                </div>
            </div>

            <div layout="row" ng-if="!shift.empty">
                <div layout="column" flex=>
                    <md-input-container>
                        <label>Durata turno</label>
                        <input required type="number" step="any" name="Giorni" ng-model="shift.data.days" min="1" ng-change="shift.save(); calendar.load()" />
                        <div ng-messages="projectForm.rate.$error" multiple md-auto-hide="true">
                            <div ng-message="required">
                                Indica la durata del turno in giorni
                            </div>
                        </div>
                    </md-input-container>
                </div>
            </div>

            <div ng-if="calendar.empty">
                Non sono ancora state definite le farmacie
            </div>

            <div layout="row" ng-if="!calendar.empty">

                <md-list flex>
                    <md-list-item class="md-2-line" ng-repeat="shift in calendar.data" layout="row">
                        <div class="md-list-item-text" layout="column" layout-align="left start" flex>
                            <md-input-container>
                                <md-select ng-model="calendar.select[$index]" ng-change="calendar.swap($index, calendar.select[$index])" aria-label="Farmacia di turno">
                                    <md-option ng-repeat="pharmacy in pharmacies.data" ng-value="pharmacy.id">
                                        {{pharmacy.name}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>

                        <div class="md-list-item-text" layout="column" layout-align="right end" flex="25">
                            {{ shift.period.start | date:shortDate }}
                        </div>

                        <div class="md-list-item-text" layout="column" layout-align="right end" flex="25">
                            {{ shift.period.end | date:shortDate }}
                        </div>
                    </md-list-item>
                </md-list>
            </div>
        </md-content>
    </div>
</div>