<!-- vim: set ts=4 sw=4 expandtab: -->

<div ng-cloak layout-gt-sm="row" layout="column" class="page-content" id="edit-document">
    <div flex>
        <md-toolbar class="demo-toolbar md-primary _md _md-toolbar-transitions">
            <div class="md-toolbar-tools" layout="row" flex>
                <div layout="column" layout-align="start">
                    <md-button ng-click="exit()" class="md-icon-button">
                        <md-icon md-svg-icon="/img/material.io/close-24px.svg" aria-label="Annulla">
                        </md-icon>
                    </md-button>
                </div>
                <div layout="column" flex>
                    Modifica documento
                </div>
                <div layout="column" layout-align="end">
                    <md-button ng-click="delete()" ng-disabled="status.isEmpty" layout="row" aria-label="Cancella">
                        <md-icon md-svg-icon="/img/material.io/ic_delete_24px.svg">
                        </md-icon>
                    </md-button>
                </div>
                <div layout="column" layout-align="end">
                    <md-button ng-click="save()" ng-disabled="!status.isDirty || status.isSaving" layout="row" aria-label="Salva">
                        <md-icon md-svg-icon="/img/material.io/save_alt-24px.svg" ng-hide="status.isSaving">
                        </md-icon>
                        <div layout="column" layout-padding="5">
                            <md-progress-circular ng-show="status.isSaving" md-diameter="20px"></md-progress-circular>
                        </div>
                    </md-button>
                </div>
            </div>
        </md-toolbar>

        <md-content layout-padding="20">
            <div layout="row">
                <md-whiteframe class="md-whiteframe-10dp error" ng-if="status.message">
                    {{status.message}}
                </md-whiteframe>
            </div>

            <div layout="row">
                <label class="md-caption file-header">File</label>
            </div>

            <div layout="row">
                <md-whiteframe class="md-whiteframe-5dp">
                    <div class="img-container" style="background-image: url({{image.data}});">
                    </div>
                </md-whiteframe>
            </div>

            <div layout="row">
                <md-input-container class="md-block" flex="100">
                    <input type="file" name="Nome file" ng-model="image" select-one-file aria-label="Upload a new image" />
                </md-input-container>
            </div>

            <div layout="row">
                <md-input-container class="md-block" flex="100">
                    <label>Descrizione</label>
                    <input type="text" name="Descrizione" ng-model="document.description" ng-change="status.dirty()" />
                    <p>
                        Il testo, se presente, viene visualizzato sulla bacheca sopra al documento
                    </p>
                </md-input-container>
            </div>

            <div layout="row">
                <md-input-container class="md-block" flex="100">
                    <label>Pubblica il</label>
                    <md-datepicker ng-model="document.publish" ng-change="status.dirty()"></md-datepicker>
                    <p>
                        Il documento sarà visibile sulla bacheca a partire dalla data indicata
                    </p>
                </md-input-container>
            </div>

            <div layout="row">
                <md-input-container class="md-block" flex="100">
                    <label>Fino al</label>
                    <md-datepicker ng-model="document.revoke" ng-change="status.dirty()"></md-datepicker>
                    <p>
                        Il documento sarà visibile sulla bacheca fino alla data indicata
                    </p>
                </md-input-container>
            </div>
        </md-content>
    </div>
</div>