<!-- vim: set ts=4 sw=4 expandtab: -->

<div ng-cloak layout-gt-sm="row" layout="column" class="page-content">
    <div flex>
        <md-toolbar class="demo-toolbar md-primary _md _md-toolbar-transitions">
            <div class="md-toolbar-tools">
                <div>
                    <md-button ng-click="toggleLeft()" hide-gt-md class="md-icon-button">
                        <md-icon md-svg-icon="/img/material.io/menu-24px.svg" aria-label="Apri menu">
                        </md-icon>
                    </md-button>
                    Documenti
                </div>
            </div>
        </md-toolbar>

        <md-content layout-padding="20">
            <div layout="row">
                <md-whiteframe class="md-whiteframe-10dp error" ng-if="status.message">
                    {{status.message}}
                </md-whiteframe>
            </div>

            <div ng-repeat="document in documents" flex-sm="50" flex-gt-sm="50" flex-gt-md="33" style="float:left;">
                <md-whiteframe class="md-whiteframe-1dp" layout="column" layout-align="left center" ng-click="edit(document)">
                    <div layout="row" layout-padding class="img-container" style="background-image: url({{makeUrl(document.file_name)}});">
                    </div>
                    <div layout="row">
                        {{ document.file_name }}
                    </div>
                    <div layout="row" ng-show="document.description">
                        {{ document.description }}
                    </div>
                    <div layout="row" ng-show="document.publish">
                        Da {{ document.publish | date:shortDate }}
                    </div>
                    <div layout="row" ng-show="document.revoke">
                        A {{ document.revoke | date:shortDate }}
                    </div>
                    <md-whiteframe>
            </div>
        </md-content>

        <md-button class="md-fab fab-add" aria-label="Aggiungi un documento" ng-click="add()">
            <md-icon md-svg-src="/img/material.io/add-24px.svg"></md-icon>
        </md-button>

    </div>
</div>