/* vim: set ts=4 sw=4 expandtab: */

.s3b-page { 
	background-color: white;
	font-family: Times, "Times New Roman", Georgia, serif;
	font-size: 16px;
}

.s3b-page .header { 
	padding-top: 1%;
	padding-bottom: 1%;
	margin-bottom: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.s3b-page .header .indirizzo { 
	font-family: Times, "Times New Roman", Georgia, serif;
	font-size: 24px; text-align: center;
	margin-left: 350px; margin-top: -20px; 
}

.s3b-page .ads {
    position:relative;
}

.s3b-page .adv.box { 
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
    position: absolute;
    width:100%; 
    display: block;
}

.s3b-page .adv.box .caption { 
    position: absolute; 
    bottom: 0;
	font-family: Times; text-align: center; margin: 20px; padding: 10px;
	background: rgb(255, 255, 255);
	background: transparent\9;
	background: rgba(255, 255, 255, 0.6);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99FFFFFF,endColorstr=#99FFFFFF);
    zoom: 1;
    max-height: 20%;
    min-height: 20px;
    overflow-y: hidden;
    font-size: 40px;
}

.s3b-page .msg.box .message {
    overflow-y: hidden;
    text-align: center;
	vertical-align: middle;
	font-size: 80px;
}

.s3b-page .message-box .pharmacy-on-duty {
}

.s3b-page .alert.box { 
	font-family: Times; text-align: center; margin: 20px; padding: 10px;
    min-height: 20px;
    overflow-y: hidden;
    font-size: 40px;
}

/* Responsive styles */

/*
Most common display resolutions in the first half of 2012
Acronym	Aspect ratio	Width (px)	Height (px)	 % of Steam users	 % of web users
VGA	4:3	640	480	00.02	n/a
SVGA	4:3	800	600	00.17	01.03
WSVGA	~17:10	1024	600	00.31	02.25
XGA	4:3	1024	768	05.53	18.69
XGA+	4:3	1152	864	00.87	01.55
WXGA	16:9	1280	720	01.51	01.54
WXGA	5:3	1280	768	n/a	01.54
WXGA	16:10	1280	800	04.25	12.97
SXGA– (UVGA)	4:3	1280	960	00.72	00.72
SXGA	5:4	1280	1024	10.66	07.49
HD	~16:9	1360	768	02.36	02.28
HD	~16:9	1366	768	17.19	19.14
SXGA+	4:3	1400	1050	00.18	n/a
WXGA+	16:10	1440	900	07.60	06.61
HD+	16:9	1600	900	06.82	03.82
UXGA	4:3	1600	1200	00.53	n/a
WSXGA+	16:10	1680	1050	10.26	03.66
FHD	16:9	1920	1080	25.04	05.09
WUXGA	16:10	1920	1200	03.65	01.11
QWXGA	16:9	2048	1152	00.13	n/a
WQHD	16:9	2560	1440	00.72	00.36
WQXGA	16:10	2560	1600	00.19	n/a
 */

@media only screen and (min-height: 0px) and (max-height: 599px) {
	.box { height: 320px; }
}

@media only screen and (min-height: 600px) and (max-height: 767px) {
	.box { height: 400px; }
}

@media only screen and (min-height: 768px) and (max-height: 799px) {
	.box { height: 540px; }
}

@media only screen and (min-height: 800px) and (max-height: 863px) {
	.box { height: 560px; }
}

@media only screen and (min-height: 864px) and (max-height: 899px) {
	.box { height: 600px; }
}

@media only screen and (min-height: 900px) and (max-height: 959px) {
	.box { height: 630px; }
}

@media only screen and (min-height: 960px) and (max-height: 1023px) {
	.box { height: 654px; }
}

@media only screen and (min-height: 1024px) and (max-height: 1049px) {
	.box { height: 692px; }
}

@media only screen and (min-height: 1050px) and (max-height: 1079px) {
	.box { height: 708px; }
}

@media only screen and (min-height: 1080px) and (max-height: 1151px) {
	.box { height: 727px; }
}

@media only screen and (min-height: 1152px) and (max-height: 1199px) {
	.box { height: 768px; }
}

@media only screen and (min-height: 1200px) and (max-height: 1439px) {
	.box { height: 798px; }
}

@media only screen and (min-height: 1440px) and (max-height: 1599px) {
	.box { height: 944px; }
}

@media only screen and (min-height: 1600px) {
	.box { height: 1040px; }
}

