<!-- vim: set ts=4 sw=4 expandtab: -->

<link rel="stylesheet" href="/templates/standard-3-boxes/styles.css">

<div class="s3b-page">
    <div layout="row" layout-align="center" class="header">
        <img class="logo" src="/img/logo/logo_1024.png">
        <!--<div class="indirizzo">
            {{ data.pharmacy.address }}
            &nbsp;
            {{ data.pharmacy.phone }}
        </div>-->
        <span ng-if="data.clock.display" class="clock">
            {{data.clock.time | date: "H:mm"}}
        </span>
    </div>
    <div layout="row" layout-fill>
        <div layout="column" flex="60" class="ads" ng-if="data.documents">
            <div ng-repeat="(index, document) in data.documents" class="adv box animate-if" ng-style="document" ng-if="displayedDocument === index">
                <div class="caption" ng-if="document.description" md-colors="{background: '{{data.color_theme}}'}">
                    {{ document.description }}
                </div>
            </div>
        </div>
        <div layout="column" layout-align="center center" flex class="msg box">
            <div class="message" md-colors="{background: '{{data.color_theme}}'}">
                {{ data.message }}
            </div>
            <div class="pharmacy-on-duty" ng-if="data.pharmacy_on_duty">
                Farmacia di turno
                <div ng-if="data.pharmacy_on_duty.name">
                    {{ data.pharmacy_on_duty.name }}
                </div>
                <div ng-if="data.pharmacy_on_duty.address">
                    {{ data.pharmacy_on_duty.address }}
                </div>
                <div ng-if="data.pharmacy_on_duty.phone">
                    {{ data.pharmacy_on_duty.phone }}
                </div>
            </div>
        </div>
    </div>
</div>
