<!doctype html>
<!-- vim: set ts=4 sw=4 expandtab: -->
<html lang="en" >
    <!-- vim: set ts=4 sw=4 expandtab: -->
    <head>
        <title>Pharmacy Bulletin Board</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <!-- Angular Material style sheet -->
        <link rel="stylesheet" href="/css/angular-material.min.css">
        <link rel="stylesheet" href="/css/fabSpeedDial.min.css">
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body ng-app="PharmacyBulletinBoardApp" layout="column" layout-fill>

        <div ng-controller="AppCtrl" layout="row" flex="100">
            <md-button class="md-fab fab-error md-warn" aria-label="Segnala errore" ng-click="reportError()" ng-show="error">
                <md-icon md-svg-src="/img/material.io/error_outline-24px.svg"></md-icon>
            </md-button>        

            <div ng-controller="SidenavCtrl" ng-include="'partials/sidenav.html'"> </div>
            <div ng-view class="app-content" flex></div>
        </div>

        <script src="/js/angular-bundle.min.js"></script>
        <script src="/app/js/app.min.js"></script>
    </body>
</html>
