<!-- vim: set ts=4 sw=4 expandtab: -->

<div ng-cloak layout-gt-sm="row" layout="column" class="page-content">
    <div flex>
        <md-toolbar class="demo-toolbar md-primary _md _md-toolbar-transitions">
            <div class="md-toolbar-tools" layout="row" flex>
                <div layout="column" layout-align="start">
                    <md-button ng-click="exit()" class="md-icon-button">
                        <md-icon md-svg-icon="/img/material.io/close-24px.svg" aria-label="Annulla">
                        </md-icon>
                    </md-button>
                </div>
                <div layout="column" flex>
                    Modifica farmacia
                </div>
                <div layout="column" layout-align="end">
                    <md-button ng-click="delete()" ng-disabled="status.isEmpty" layout="row" aria-label="Cancella">
                        <md-icon md-svg-icon="/img/material.io/ic_delete_24px.svg">
                        </md-icon>
                    </md-button>
                </div>
                <div layout="column" layout-align="end">
                    <md-button ng-click="save()" ng-disabled="!status.isDirty || status.isSaving" layout="row" aria-label="Salva">
                        <md-icon md-svg-icon="/img/material.io/save_alt-24px.svg" ng-hide="status.isSaving">
                        </md-icon>
                        <div layout="column" layout-padding="5">
                            <md-progress-circular ng-show="status.isSaving" md-diameter="20px"></md-progress-circular>
                        </div>
                    </md-button>
                </div>
            </div>
        </md-toolbar>

        <md-content layout-padding="20">
            <div layout="row">
                <md-whiteframe class="md-whiteframe-10dp error" ng-if="status.message">
                    {{status.message}}
                </md-whiteframe>
            </div>

            <div layout="row">
                <md-input-container class="md-block" flex="100">
                    <label>Nome</label>
                    <input required type="text" name="Nome" ng-model="pharmacy.name" ng-change="status.dirty()" />
                    <div ng-messages="pharmacy.name.$error" multiple md-auto-hide="true">
                        <div ng-message="required">
                            Indica il nome della farmacia
                        </div>
                    </div>
                </md-input-container>
            </div>

            <div layout="row">
                <md-input-container class="md-block" flex="100">
                    <label>Indirizzo</label>
                    <textarea required name="Indirizzo" ng-model="pharmacy.address" ng-change="status.dirty()" md-select-on-focus></textarea>
                    <div ng-messages="pharmacy.address.$error" md-auto-hide="true">
                        <div ng-message="required">
                            Indica l'indirizzo della farmacia
                        </div>
                    </div>
                </md-input-container>
            </div>

            <div layout="row">
                <md-input-container class="md-block" flex="100">
                    <label>Telefono</label>
                    <input required type="text" name="Telefono" ng-model="pharmacy.phone" ng-change="status.dirty()" />
                    <div ng-messages="pharmacy.phone.$error" multiple md-auto-hide="true">
                        <div ng-message="required">
                            Indica il numero di telefono della farmacia
                        </div>
                    </div>
                </md-input-container>
            </div>

            <div layout="row">
                <md-button ng-if="pharmacy.mine" class="md-icon-button" aria-label="Not my favorite" ng-click="flip()">
                    <md-icon md-svg-src="/img/material.io/favorite-24px.svg"> </md-icon>
                </md-button>
                <md-button ng-if="!pharmacy.mine" class="md-icon-button" aria-label="Favorite" ng-click="flip()">
                    <md-icon md-svg-icon="/img/material.io/favorite_border-24px.svg"></md-icon>
                </md-button>
            </div>
        </md-content>
    </div>
</div>