<!-- vim: set ts=4 sw=4 expandtab: -->

<div ng-cloak layout-gt-sm="row" layout="column" class="page-content">
    <div flex>
        <md-toolbar class="demo-toolbar md-primary _md _md-toolbar-transitions">
            <div class="md-toolbar-tools">
                <div>
                    <md-button ng-click="toggleLeft()" hide-gt-md class="md-icon-button">
                        <md-icon md-svg-icon="/img/material.io/menu-24px.svg" aria-label="Apri menu">
                        </md-icon>
                    </md-button>
                    Farmacie
                </div>
            </div>
        </md-toolbar>

        <md-content layout-padding="20">
            <md-whiteframe class="md-whiteframe-10dp error" ng-if="status.message">
                {{status.message}}
            </md-whiteframe>

            <md-list ng-if="!status.isEmpty" flex>
                <md-list-item class="md-3-line" layout="row" ng-repeat="pharmacy in pharmacies" ng-click="edit(pharmacy)">

                    <div class="md-list-item-text" layout="column" flex="10">
                        <md-button ng-if="pharmacy.mine" class="md-icon-button" aria-label="Seleziona la mia farmacia">
                            <md-icon md-svg-src="/img/material.io/favorite-24px.svg"> </md-icon>
                        </md-button>
                        <md-button ng-if="!pharmacy.mine" class="md-icon-button" aria-label="Questa è la mia farmacia" ng-click="setMine(pharmacy)">
                            <md-icon md-svg-icon="/img/material.io/favorite_border-24px.svg"></md-icon>
                        </md-button>
                    </div>

                    <div class="md-list-item-text" layout="column" flex="40" ng-click="null">
                        {{ pharmacy.name }}
                    </div>

                    <div class="md-list-item-text" layout="column" flex="50" ng-click="null">
                        {{ pharmacy.address }}
                        <h4>{{ pharmacy.phone }}</h4>
                    </div>

                </md-list-item>
            </md-list>
        </md-content>

        <md-button class="md-fab fab-add" aria-label="Aggiungi una farmacia" ng-click="add()">
            <md-icon md-svg-src="/img/material.io/add-24px.svg"></md-icon>
        </md-button>

    </div>
</div>