/* vim: set ts=4 sw=4 expandtab: */

.app-content {
    width: 100%;
    height: 100%;
    position: relative;
}

.page-content {
    width: 100%;
    height: 90%;
}

.md-button {
    text-align: left;
}

.md-sidenav-left {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
}

.md-sidenav-left md-content {
    background-color: #f5f5f5;
}

.toolbar-label {
    cursor: pointer;
}

.heading {
    font-weight: bold;
}

.fab-add {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.fab-error {
    position: absolute;
    top: 10px;
    right: 20px;
}

md-content {
    max-height: 100%;
    height: 100%;
}

md-icon {
    color: rgba(0, 0, 0, .54);
}

#edit-document .file-header {
    padding-left: 3px;
    color: rgb(63, 81, 181);
}

.img-container {
    height: 200px;
    width: 250px;
    min-height: 150px;
    min-width: 250px;
    padding: 5px 5px 0 0;
    background-repeat: no-repeat;
    background-size: contain;
}

.preview {
    position: relative;
}

.preview .toolbar {
    left: 0;
    position: absolute;
    width: 100%;
}

.template {
    height: 100%;
    width: 100%;
}

.animate-if.ng-enter,
.animate-if.ng-leave {
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
    opacity: 0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
    opacity: 1;
}

md-whiteframe {
    padding: 12px;
}

md-whiteframe.error {
    background-color: cornsilk;
}

div.help {
    color: #444;
}

div.help span {
    font-weight: bold;
}