<!doctype html>
<!-- vim: set ts=4 sw=4 expandtab: -->
<html lang="en" >
    <head>
        <title>Pharmacy Bulletin Board</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <!-- Angular Material style sheet -->
        <link rel="stylesheet" href="../css/angular-material.min.css">
        <link rel="stylesheet" href="../css/fabSpeedDial.min.css">

        <link rel="stylesheet" href="../css/app.css">
    </head>
    <body class="preview" ng-app="PreviewApp" layout="column" layout-fill>

        <div ng-controller="PreviewCtrl" layout="row" layout-fill>
            <div ng-include="'/templates/standard-3-boxes/view.html'" class="template"></div>

            <md-fab-toolbar class="toolbar">
                <md-fab-trigger>
                    <md-button class="md-fab md-primary">
                        <md-icon md-svg-src="../img/material.io/menu-24px.svg" aria-label="Chiudi menu">
                        </md-icon>
                    </md-button>
                </md-fab-trigger>

                <md-toolbar>
                    <md-fab-actions class="md-toolbar-tools">
                        <md-button aria-label="Chiudi menu" ng-click="close()">
                            <md-icon md-svg-src="../img/material.io/menu_open-24px.svg">
                            </md-icon>
                        </md-button>
                        <md-button aria-label="Torna alla gestione della bacheca" ng-click="back()">
                            Torna alla gestione della bacheca
                        </md-button>
                        <md-button aria-label="Pubblica presentazione sulla bacheca" ng-click="publish()">
                            Pubblica la presentazione sulla bacheca
                        </md-button>
                    </md-fab-actions>
                </md-toolbar>
            </md-fab-toolbar>
        </div>

        <script src="../js/angular-bundle.min.js"></script>
        <script src="js/preview.min.js"></script>
    </body>
</html>

