<!-- vim: set ts=4 sw=4 expandtab: -->

<div ng-cloak layout-gt-sm="row" layout="column" class="page-content">
    <div flex>
        <md-toolbar class="demo-toolbar md-primary _md _md-toolbar-transitions">
            <div class="md-toolbar-tools">
                <div>
                    <md-button ng-click="toggleLeft()" hide-gt-md class="md-icon-button">
                        <md-icon md-svg-icon="/img/material.io/menu-24px.svg" aria-label="Apri menu">
                        </md-icon>
                    </md-button>
                    Calendario
                </div>
            </div>
        </md-toolbar>

        <md-content layout-padding="20">
            <div layout="row">
                <md-whiteframe class="md-whiteframe-10dp error" ng-if="status.message">
                    {{status.message}}
                </md-whiteframe>
            </div>

            <div layout="row">
                <div layout="column" flex>
                    <md-input-container>
                        <label>Data inizio</label>
                        <md-datepicker ng-model="start" ng-change="query()" aria-label="Inserisci una data"></md-datepicker>
                    </md-input-container>
                </div>
                <div layout="column" flex>
                    <md-input-container>
                        <label>Data fine</label>
                        <md-datepicker ng-model="end" ng-change="query()" aria-label="Inserisci una data"></md-datepicker>
                    </md-input-container>
                </div>
            </div>

            <div layout="row" ng-if="!empty">
                <md-list flex>
                    <md-list-item class="md-2-line" ng-repeat="shift in calendar.shifts" layout="row">
                        <div class="md-list-item-text" layout="column" layout-align="left start" flex="33">
                            {{ shift.pharmacy.name }}
                        </div>
                        <div class="md-list-item-text" layout="column" layout-align="right end" flex="33">
                            {{ shift.period.start | date:shortDate }}
                        </div>
                        <div class="md-list-item-text" layout="column" layout-align="right end" flex="33">
                            {{ shift.period.end | date:shortDate }}
                        </div>
                    </md-list-item>
                </md-list>
            </div>
        </md-content>
    </div>
</div>