<!-- vim: set ts=4 sw=4 expandtab: -->

<div ng-cloak layout-gt-sm="row" layout="column" class="page-content">
    <div flex>
        <md-toolbar class="demo-toolbar md-primary _md _md-toolbar-transitions">
            <div class="md-toolbar-tools">
                <div>
                    <md-button ng-click="toggleLeft()" hide-gt-md class="md-icon-button">
                        <md-icon md-svg-icon="/img/material.io/menu-24px.svg" aria-label="Apri menu">
                        </md-icon>
                    </md-button>
                    Presentazione
                </div>
            </div>
        </md-toolbar>

        <md-content layout-padding="20">
            <div layout="row">
                <md-whiteframe class="md-whiteframe-10dp error" ng-if="status.message">
                    {{status.message}}
                </md-whiteframe>
            </div>

            <div layout="row">
                <md-input-container>
                    <label>Testo per turno</label>
                    <input name="Testo" ng-model="presentation.data.on_duty_text" ng-change="presentation.delayedSave()" />
                    <p>
                        Questo testo viene mostrato sulla bacheca quando la farmacia è di turno. Ad esempio puoi inserire l'orario di apertura e la reperibilità
                    </p>
                </md-input-container>
            </div>

            <div layout="row">
                <md-input-container>
                    <label>Testo per apertura normale</label>
                    <input name="Giorni" ng-model="presentation.data.daily_opening_text" ng-change="presentation.delayedSave()" />
                    <p>
                        Questo testo viene mostrato nella parte centrale della pagina durante l'orario normale. Ad esempio puoi inserire l'orario di apertura. Limita il testo a poche righe, la parte inferiore della pagine serve per visualizzare la farmacia di turno
                    </p>
                </md-input-container>
            </div>

            <div layout="row">
                <md-input-container flex="100">
                    <label>Tempo di visualizzazione</label>
                    <input required name="Tempo" type="number" ng-model="presentation.data.show_time" min="5" ng-change="presentation.delayedSave()" />
                    <p>
                        La bacheca viene aggiornata ogni {{presentation.data.show_time}} secondi
                    </p>
                </md-input-container>
            </div>

            <div layout="row">
                <md-input-container flex="100">
                    <label>Durata dissolvenza</label>
                    <input required name="Tempo" type="number" ng-model="presentation.data.fade_time" min="0" ng-change="presentation.delayedSave()" />
                    <p>
                        L'effetto di entrata/uscita di una slide dura {{presentation.data.fade_time}} secondi
                    </p>
                </md-input-container>
            </div>

            <div layout="row" layout-padding="20">
                <md-checkbox ng-model="presentation.data.clock" aria-label="Visualizza orologio" ng-change="presentation.delayedSave()" flex="100">
                    Visualizza orologio
                </md-checkbox>
            </div>

            <div layout="row" layout-padding="20">
                <div layout="column" flex="30">
                    <md-input-container style="min-width: 250px;">
                        <label>Colore del messaggio</label>
                        <md-select ng-model="presentation.data.color_theme" ng-change="presentation.delayedSave()" flex="100">
                            <md-option ng-repeat="color in colors" ng-value="color" md-colors="{background: '{{color}}'}" md-colors-watch="false" style="margin: 5px;">
                                <div style="  text-transform: uppercase;">
                                    {{color}}
                                </div>
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>

                <md-whiteframe class="md-whiteframe-5dp" layout-align="center center" md-colors="{background: '{{presentation.data.color_theme}}'}">
                    <span>
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                    </span>
                </md-whiteframe>
            </div>
        </md-content>
    </div>
</div>